<div class="mg-border-left mg-row-border-top controls-row"></div>
    <!--
        KEY
    -->
    <div id="pitch" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="16">
            <div>Key</div>
        </div>
        <div class="value-human">
            <select id="cc-16-values" class="cc-values">
                <option value="cc-16-2">C</option>
                <option value="cc-16-11">Db</option>
                <option value="cc-16-25">D</option>
                <option value="cc-16-37">Eb</option>
                <option value="cc-16-47">E</option>
                <option value="cc-16-58">F</option>
                <option value="cc-16-66">Gb</option>
                <option value="cc-16-77">G</option>
                <option value="cc-16-87">Ab</option>
                <option value="cc-16-97">A</option>
                <option value="cc-16-108">Bb</option>
                <option value="cc-16-119">B</option>
                <option value="cc-16-127">Chromatic</option>
            </select>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-16"></svg>
        </div>
    </div>
    <!--
        MODE
    -->
    <div id="portamento" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="22">
            <div>mode</div>
        </div>
        <div class="value-human">
            major
        </div>
        <div class="controls">
            <svg class="knob" id="cc-22"></svg>
        </div>
    </div>
    <!--
        MICRO TUNE
    -->
    <div id="filter" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="17">
            <div class="header-shortcut hidden">[F,G]</div>
            <div>micro tune</div>
        </div>
        <div class="value-human">
            &nbsp;
        </div>
        <div class="controls">
            <svg class="knob" id="cc-17"></svg>
        </div>
    </div>
    <!--
        GLIDE
    -->
    <div id="filter-type" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="23">
            <div>glide</div>
        </div>
        <div class="value-human">
            glide 42%
        </div>
        <div class="controls">
            <svg class="knob" id="cc-23"></svg>
        </div>
    </div>
    <!--
        MIX
    -->
    <div id="mix" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="18">
            <div class="header-shortcut hidden">[Y,X]</div>
            <div>mix</div>
        </div>
        <div class="value-human">
            &nbsp;
        </div>
        <div class="controls">
            <svg class="knob" id="cc-18"></svg>
        </div>
    </div>
    <!--
        DELAY FEEDBACK
    -->
    <div id="delay-level" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="24">
            <div class="header-shortcut hidden">[K,L]</div>
            <div>delay feedback</div>
        </div>
        <div class="value-human">
            &nbsp;
        </div>
        <div class="controls">
            <svg class="knob" id="cc-24"></svg>
        </div>
    </div>
<div class="mg-border-right mg-row-border-top controls-row"></div>

<div class="mg-border-left controls-row"></div>
    <!--
        PITCH 1 - PITCH
    -->
    <div id="sustain" class="grid-default controls-row">
        <div class="header exp infos" data-infos="19">
            <div class="header-shortcut hidden">[DEL,B,N]</div>
            <div>pitch 1</div>
        </div>
        <div class="value-human">
            <select id="cc-19-values" class="cc-values">
                <option value="cc-19-0">Off</option>
                <option disabled>────────</option>
                <option value="cc-19-2">2 octaves down</option>
                <option disabled>────────</option>
                <option value="cc-19-11">1 octave down</option>
                <option value="cc-19-15">Maj7 down</option>
                <option value="cc-19-19">Min7 down</option>
                <option value="cc-19-23">Maj6 down</option>
                <option value="cc-19-27">min6 down</option>
                <option value="cc-19-31">P5 down</option>
                <option value="cc-19-35">aug4 / dim5 down</option>
                <option value="cc-19-39">P4 down</option>
                <option value="cc-19-43">Maj3 down</option>
                <option value="cc-19-47">min3 down</option>
                <option value="cc-19-51">Maj2 down</option>
                <option value="cc-19-55">min2 down</option>
                <option disabled>────────</option>
                <option value="cc-19-71">Unison</option>
                <option disabled>────────</option>
                <option value="cc-19-75">min2</option>
                <option value="cc-19-79">Maj2</option>
                <option value="cc-19-83">min3</option>
                <option value="cc-19-87">Maj3</option>
                <option value="cc-19-91">P4</option>
                <option value="cc-19-95">aug4 / dim5</option>
                <option value="cc-19-99">P5</option>
                <option value="cc-19-103">min6</option>
                <option value="cc-19-107">Maj6</option>
                <option value="cc-19-111">min7</option>
                <option value="cc-19-115">Maj7</option>
                <option value="cc-19-123">1 octave up</option>
                <option disabled>────────</option>
                <option value="cc-19-125">1 octave up + fifth</option>
                <option value="cc-19-127">+2 oct</option>
            </select>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-19"></svg>
        </div>
    </div>
    <!--
        PITCH 1 - TIME DIV
    -->
    <div id="ring-mod" class="grid-default controls-row">
        <div class="header exp infos" data-infos="25">
            <div class="header-shortcut hidden">[Z,U]</div>
            <div>time 1</div>
        </div>
        <div class="value-human">
            value...
        </div>
        <div class="controls">
            <svg class="knob" id="cc-25"></svg>
        </div>
    </div>
    <!--
        PITCH 2 - PITCH
    -->
    <div id="filter-env" class="grid-default controls-row">
        <div class="header exp infos" data-infos="20">
            <div>PITCH 2</div>
        </div>
        <div class="value-human">
            <select id="cc-20-values" class="cc-values">
                <option value="cc-20-0">Off</option>
                <option disabled>────────</option>
                <option value="cc-20-2">2 octaves down</option>
                <option disabled>────────</option>
                <option value="cc-20-11">1 octave down</option>
                <option value="cc-20-15">Maj7 down</option>
                <option value="cc-20-19">Min7 down</option>
                <option value="cc-20-23">Maj6 down</option>
                <option value="cc-20-27">min6 down</option>
                <option value="cc-20-31">P5 down</option>
                <option value="cc-20-35">aug4 / dim5 down</option>
                <option value="cc-20-39">P4 down</option>
                <option value="cc-20-43">Maj3 down</option>
                <option value="cc-20-47">min3 down</option>
                <option value="cc-20-51">Maj2 down</option>
                <option value="cc-20-55">min2 down</option>
                <option disabled>────────</option>
                <option value="cc-20-71">Unison</option>
                <option disabled>────────</option>
                <option value="cc-20-75">min2</option>
                <option value="cc-20-79">Maj2</option>
                <option value="cc-20-83">min3</option>
                <option value="cc-20-87">Maj3</option>
                <option value="cc-20-91">P4</option>
                <option value="cc-20-95">aug4 / dim5</option>
                <option value="cc-20-99">P5</option>
                <option value="cc-20-103">min6</option>
                <option value="cc-20-107">Maj6</option>
                <option value="cc-20-111">min7</option>
                <option value="cc-20-115">Maj7</option>
                <option value="cc-20-123">1 octave up</option>
                <option disabled>────────</option>
                <option value="cc-20-125">1 octave up + fifth</option>
                <option value="cc-20-127">+2 oct</option>
            </select>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-20"></svg>
        </div>
    </div>
    <!--
        PITCH 2 - TIME DIV
    -->
    <div id="filter-bandwidth" class="grid-default controls-row">
        <div class="header exp infos" data-infos="26">
            <div>time 2</div>
        </div>
        <div class="value-human">
            value...
        </div>
        <div class="controls">
            <svg class="knob" id="cc-26"></svg>
        </div>
    </div>
    <!--
        PITCH 3 - PITCH
    -->
    <div id="modulation" class="grid-default controls-row">
        <div class="header exp infos" data-infos="21">
            <div>PITCH 3</div>
        </div>
        <div class="value-human">
            <select id="cc-21-values" class="cc-values">
                <option value="cc-21-0">Off</option>
                <option disabled>────────</option>
                <option value="cc-21-2">2 octaves down</option>
                <option disabled>────────</option>
                <option value="cc-21-11">1 octave down</option>
                <option value="cc-21-15">Maj7 down</option>
                <option value="cc-21-19">Min7 down</option>
                <option value="cc-21-23">Maj6 down</option>
                <option value="cc-21-27">min6 down</option>
                <option value="cc-21-31">P5 down</option>
                <option value="cc-21-35">aug4 / dim5 down</option>
                <option value="cc-21-39">P4 down</option>
                <option value="cc-21-43">Maj3 down</option>
                <option value="cc-21-47">min3 down</option>
                <option value="cc-21-51">Maj2 down</option>
                <option value="cc-21-55">min2 down</option>
                <option disabled>────────</option>
                <option value="cc-21-71">Unison</option>
                <option disabled>────────</option>
                <option value="cc-21-75">min2</option>
                <option value="cc-21-79">Maj2</option>
                <option value="cc-21-83">min3</option>
                <option value="cc-21-87">Maj3</option>
                <option value="cc-21-91">P4</option>
                <option value="cc-21-95">aug4 / dim5</option>
                <option value="cc-21-99">P5</option>
                <option value="cc-21-103">min6</option>
                <option value="cc-21-107">Maj6</option>
                <option value="cc-21-111">min7</option>
                <option value="cc-21-115">Maj7</option>
                <option value="cc-21-123">1 octave up</option>
                <option disabled>────────</option>
                <option value="cc-21-125">1 octave up + fifth</option>
                <option value="cc-21-127">+2 oct</option>
            </select>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-21"></svg>
        </div>
    </div>
    <!--
        PITCH 2 - TIME DIV
    -->
    <div id="delay-feedback" class="grid-default controls-row">
        <div class="header exp infos" data-infos="27">
            <div>time 3</div>
        </div>
        <div class="value-human">
            value...
        </div>
        <div class="controls">
            <svg class="knob" id="cc-27"></svg>
        </div>
    </div>
<div class="mg-border-right"></div>

<div class="mg-border-left mg-row-border-bottom pb-5"></div>
    <!--
        TAP
    -->
    <div id="tap" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="28">
            <div class="header-shortcut hidden">[T]</div>
            <div>tap</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-28-127" class="swm">
                    <i id="cc-28-127-off" class="fas fa-circle" aria-hidden="true" title="click to switch on"></i>
                    <i id="cc-28-127-on" class="sw-off sw-on fas fa-circle" aria-hidden="true" title="click to switch off"></i>
                </div>
            </div>
        </div>
    </div>
    <!--
        MAX DELAY FEEDBACK
    -->
    <!--
            <div id="max-delay-feedback" class="grid-default controls-row">
                <div class="header">
                    <div>max delay feedback</div>
                </div>
                <div class="controls">
                </div>
            </div>
    -->
    <!--
        TEMPO
    -->
    <div id="tempo" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="15">
            <div id="tempo-label" title="click to toggle between [ms] and [BPM]">tempo MS</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-15"></svg>
        </div>
    </div>
    <!--
        DUAL / SERIE
    -->
    <div id="env-type" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="9">
            <div>delay speed</div>
        </div>
        <div id="cc-9-options" class="grid-2x1 controls-options-grid">
            <div id="cc-9-0" class="bt">normal speed</div>
            <div id="cc-9-127" class="bt">half speed</div>
        </div>
    </div>
    <!--
        PITCH SMOOTHING
    -->
    <div id="synth-mode" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="29">
            <div>signal flow</div>
        </div>
        <div id="cc-29-options" class="delay-mode-grid controls-options-grid">
            <div id="cc-29-0" class="bt">series + pitch fdbk</div>
            <div id="cc-29-95" class="bt">series</div>
            <div id="cc-29-63" class="bt">dual + cross fdbk</div>
            <div id="cc-29-127" class="bt">dual</div>
        </div>
<!--
        <div id="cc-30-options" class="synth-wave-grid controls-options-grid">
            <div id="cc-30-0" class="bt">SAW</div>
            <div id="cc-30-127" class="bt">SQUARE</div>
        </div>
-->
    </div>
    <!--
        EXP
    -->
    <div id="exp-controler" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header exp infos" data-infos="4">
            <div>EXP</div>
        </div>
        <div class="exp_wrapper">
            <div id="exp-a1"></div>
            <div id="exp-a2" class="slider-combo">
                <svg id="cc-4" class="slider"></svg>
            </div>
            <div id="exp-close" class="exp-switch"><div class="btx" id="exp-close-bt" title="Click to switch to edit the EXP (toe-down) values">toe</div></div>
            <div id="exp-open">heel</div>
            <div id="cc-4-value" class="slider-value"></div>
            <div id="exp-copy" class="btx" title="Click to copy the heel (normal) values to the toe values.">copy</div>
        </div>
    </div>
    <!--
        BYPASS
    -->
    <div id="bypass" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="14">
            <div class="header-shortcut hidden">[SPACE]</div>
            <div>bypass</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-14-127" class="sw"><i class="fas fa-circle" aria-hidden="true" title="click to switch on"></i></div>
                <div id="cc-14-0" class="sw sw-off sw-on"><i class="fas fa-circle" aria-hidden="true" title="click to switch off"></i></div>
            </div>
        </div>
    </div>
<div class="mg-border-right mg-last-row mg-row-border-bottom controls-row pb-5"></div>