<div class="mg-border-left mg-row-border-top controls-row"></div>
    <!--
        KEY
    -->
    <div id="pitch" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="16">
            <div>Key</div>
        </div>
        <div class="value-human">
            <select id="cc-16-values" class="cc-values">
                <option value="cc-16-0">C</option>
                <option value="cc-16-3">Db</option>
                <option value="cc-16-12">D</option>
                <option value="cc-16-26">Eb</option>
                <option value="cc-16-38">E</option>
                <option value="cc-16-48">F</option>
                <option value="cc-16-59">Gb</option>
                <option value="cc-16-67">G</option>
                <option value="cc-16-78">Ab</option>
                <option value="cc-16-88">A</option>
                <option value="cc-16-98">Bb</option>
                <option value="cc-16-109">B</option>
                <option value="cc-16-120">Chromatic</option>
            </select>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-16"></svg>
        </div>
    </div>
    <!--
        MODE
    -->
    <div id="portamento" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="22">
            <div>mode</div>
        </div>
        <div class="value-human">
            major
        </div>
        <div class="controls">
            <svg class="knob" id="cc-22"></svg>
        </div>
    </div>
    <!--
        MICRO TUNE
    -->
    <div id="filter" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="17">
            <div class="header-shortcut hidden">[F,G]</div>
            <div>micro tune</div>
        </div>
        <div class="value-human">
            &nbsp;
        </div>
        <div class="controls">
            <svg class="knob" id="cc-17"></svg>
        </div>
    </div>
    <!--
        GLIDE
    -->
    <div id="filter-type" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="23">
            <div>glide</div>
        </div>
        <div class="value-human">
            glide 42%
        </div>
        <div class="controls">
            <svg class="knob" id="cc-23"></svg>
        </div>
    </div>
    <!--
        MIX
    -->
    <div id="mix" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="18">
            <div class="header-shortcut hidden">[Y,X]</div>
            <div>mix</div>
        </div>
        <div class="value-human">
            &nbsp;
        </div>
        <div class="controls">
            <svg class="knob" id="cc-18"></svg>
        </div>
    </div>
    <!--
        DELAY FEEDBACK
    -->
    <div id="delay-level" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="24">
            <div class="header-shortcut hidden">[K,L]</div>
            <div>delay feedback</div>
        </div>
        <div class="value-human">
            &nbsp;
        </div>
        <div class="controls">
            <svg class="knob" id="cc-24"></svg>
        </div>
    </div>
<div class="mg-border-right mg-row-border-top controls-row"></div>

<div class="mg-border-left controls-row"></div>
    <!--
        PITCH 1 - PITCH
    -->
    <div id="sustain" class="grid-default controls-row">
        <div class="header exp infos" data-infos="19">
            <div class="header-shortcut hidden">[DEL,B,N]</div>
            <div>pitch 1</div>
        </div>
        <div class="value-human">
            value...
        </div>
        <div class="controls">
            <svg class="knob" id="cc-19"></svg>
        </div>
    </div>
    <!--
        PITCH 1 - TIME DIV
    -->
    <div id="ring-mod" class="grid-default controls-row">
        <div class="header exp infos" data-infos="25">
            <div class="header-shortcut hidden">[Z,U]</div>
            <div>time 1</div>
        </div>
        <div class="value-human">
            value...
        </div>
        <div class="controls">
            <svg class="knob" id="cc-25"></svg>
        </div>
    </div>
    <!--
        PITCH 2 - PITCH
    -->
    <div id="filter-env" class="grid-default controls-row">
        <div class="header exp infos" data-infos="20">
            <div>PITCH 2</div>
        </div>
        <div class="value-human">
            value...
        </div>
        <div class="controls">
            <svg class="knob" id="cc-20"></svg>
        </div>
    </div>
    <!--
        PITCH 2 - TIME DIV
    -->
    <div id="filter-bandwidth" class="grid-default controls-row">
        <div class="header exp infos" data-infos="26">
            <div>time 2</div>
        </div>
        <div class="value-human">
            value...
        </div>
        <div class="controls">
            <svg class="knob" id="cc-26"></svg>
        </div>
    </div>
    <!--
        PITCH 3 - PITCH
    -->
    <div id="modulation" class="grid-default controls-row">
        <div class="header exp infos" data-infos="21">
            <div>PITCH 3</div>
        </div>
        <div class="value-human">
            value...
        </div>
        <div class="controls">
            <svg class="knob" id="cc-21"></svg>
        </div>
    </div>
    <!--
        PITCH 2 - TIME DIV
    -->
    <div id="delay-feedback" class="grid-default controls-row">
        <div class="header exp infos" data-infos="27">
            <div>time 3</div>
        </div>
        <div class="value-human">
            value...
        </div>
        <div class="controls">
            <svg class="knob" id="cc-27"></svg>
        </div>
    </div>
<div class="mg-border-right"></div>

<div class="mg-border-left mg-row-border-bottom pb-5"></div>
    <!--
        TAP
    -->
    <div id="tap" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="28">
            <div class="header-shortcut hidden">[T]</div>
            <div>tap</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-28-127" class="swm">
                    <i id="cc-28-127-off" class="fas fa-circle" aria-hidden="true" title="click to switch on"></i>
                    <i id="cc-28-127-on" class="sw-off sw-on fas fa-circle" aria-hidden="true" title="click to switch off"></i>
                </div>
            </div>
        </div>
    </div>
    <!--
        MAX DELAY FEEDBACK
    -->
    <!--
            <div id="max-delay-feedback" class="grid-default controls-row">
                <div class="header">
                    <div>max delay feedback</div>
                </div>
                <div class="controls">
                </div>
            </div>
    -->
    <!--
        TEMPO
    -->
    <div id="tempo" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="15">
            <div id="tempo-label" title="click to toggle between [ms] and [BPM]">tempo MS</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-15"></svg>
        </div>
    </div>
    <!--
        DUAL / SERIE
    -->
    <div id="env-type" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="9">
            <div>delay speed</div>
        </div>
        <div id="cc-9-options" class="grid-2x1 controls-options-grid">
            <div id="cc-9-0" class="bt">normal speed</div>
            <div id="cc-9-127" class="bt">half speed</div>
        </div>
    </div>
    <!--
        PITCH SMOOTHING
    -->
    <div id="synth-mode" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="29">
            <div>signal flow</div>
        </div>
        <div id="cc-29-options" class="delay-mode-grid controls-options-grid">
            <div id="cc-29-0" class="bt">series + pitch fdbk</div>
            <div id="cc-29-95" class="bt">series</div>
            <div id="cc-29-63" class="bt">dual + cross fdbk</div>
            <div id="cc-29-127" class="bt">dual</div>
        </div>
<!--
        <div id="cc-30-options" class="synth-wave-grid controls-options-grid">
            <div id="cc-30-0" class="bt">SAW</div>
            <div id="cc-30-127" class="bt">SQUARE</div>
        </div>
-->
    </div>
    <!--
        EXP
    -->
    <div id="exp-controler" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header exp infos" data-infos="4">
            <div>EXP</div>
        </div>
        <div class="exp_wrapper">
            <div id="exp-a1"></div>
            <div id="exp-a2" class="slider-combo">
                <svg id="cc-4" class="slider"></svg>
            </div>
            <div id="exp-close" class="exp-switch"><div class="btx" id="exp-close-bt" title="Click to switch to edit the EXP (toe-down) values">toe</div></div>
            <div id="exp-open">heel</div>
            <div id="cc-4-value" class="slider-value"></div>
            <div id="exp-copy" class="btx" title="Click to copy the heel (normal) values to the toe values.">copy</div>
        </div>
    </div>
    <!--
        BYPASS
    -->
    <div id="bypass" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="14">
            <div class="header-shortcut hidden">[SPACE]</div>
            <div>bypass</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-14-127" class="sw"><i class="fas fa-circle" aria-hidden="true" title="click to switch on"></i></div>
                <div id="cc-14-0" class="sw sw-off sw-on"><i class="fas fa-circle" aria-hidden="true" title="click to switch off"></i></div>
            </div>
        </div>
    </div>
<div class="mg-border-right mg-last-row mg-row-border-bottom controls-row pb-5"></div>